#chartdiv {
    width: 100%;
  height:450px;
  /* responsive: true; */

  }
  /* *{
      overflow: hidden;
      
  } */

@media only screen and (max-width: 500px) { */
/* For mobile phones: */
#chartdiv {
  width: 100%;
  height: 400px;
  font-size: 8px;
}
}