body {
    background: rgb(21, 1, 56);
    font-family: "Roboto";
    color: white;
    overflow: hidden;
  }
a {
    text-align: center;
    padding: 1rem;
    margin: 0.3rem;
    outline: none;
    display: inline-block;
    text-decoration: none;
    background: #fcca2f;
    min-width: 14.5rem;
    font-size: 14px;
    color: steelblue;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all ease .3s;
            transition: all ease .3s;
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

