.priv_h2 {
    font-size: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-bottom: 29px;
}
// #90E5F2
.priv_com {
    color: #828282;
    font-size: 18px;
    line-height: 25.5px;
    padding: 0 17px;
}
.priv_b1 {
    padding: 10px 25px 10px;
}
.priv_b2 {
    padding: 10px 25px 10px;
}
.priv_b3 {
    padding: 10px 25px 10px;
}
.priv_sub_h2 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px 25px 10px;
    color: #0B245B;
}