@media (max-width:750px) {
    .ham-contanier {
        display: block !important;
    }
    .header-tabs {
        display: none !important;
    }
}
.data-science {
    width: 54rem;
}
.topic {
    display: flex;
    width: 100%;
    justify-content: center;
}



.dropbtn {
    background-color: white;
    color: black;
    padding: 16px 10px;
    font-size: 15.7px;
    margin-top: 6px;
    border: none;
    z-index: 100;
    position: relative;
    top: 15px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
        /* min-width: 160px; */
        width: 77rem;
    left: -49.5rem;
    top: 4.74rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    z-index: 10000;
  }
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
        /* min-width: 160px; */
        width: 77rem;
    left: -58.5rem;
    top: 4.74rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    z-index: 10000;
  }
  .item {
      padding: 9px;
  }
  .row-content {
      padding-top: 9px;
  }
  .row-content:hover {
      background: #173985;
      cursor: pointer;
  }

  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}
.dropdown:hover .dropdown-content1 {
    display: block;
    transition: 0.3s;
}
.dropdown:hover .dropbtn {background-color: #E3E3E3;}

.drop-part1 {
    background: #9A073C;
}
.drop-part2 {
    background: #0B245B;
    display: flex;
}
.drop-left-head {
    margin: 31px 45px;
    font-size: xx-large;
    font-weight: 500;
    color: white;
    padding: 17px 0;
    border-bottom: 1.7px solid;
}
.drop-left-head1 {
    margin: 19px 27px;
    font-size: 36px;
    font-weight: 500;
    color: white;
    padding: 17px 0;
    border-bottom: 1.7px solid;
}
.drop-left-content {
    color: white;
    margin: 123px 25px 73px;
}
.drop-left-content1 {
    color: white;
    margin: 31px 25px 30px;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.text-cont {
    display: flex;
    justify-content: center;
    color: white;
}
.img-cont {
    display: flex;
    margin: auto auto;
    margin-top: 25px;
    width: 60px;
}

/* @media (max-width:1250px) {
    .dropdown-content {
            width: 77rem;
        left: -45.5rem;
        top: 4.6rem;
     
      }
      .dropdown-content1 {
        width: 67rem;
    left: -52.5rem;
    top: 4.75rem;

      } 
} */
@media (max-width:1250px) {
    .dropdown-content {
        width: 72rem;
        left: -46.5rem;
        top: 4.6rem;
     
      }
      .dropdown-content1 {
        width: 67rem;
        left: -52.5rem;
        top: 4.75rem;

      } 
}
@media (max-width:1160px) {
    .dropdown-content {
        width: 61rem;
        left: -38.5rem;
        top: 4.6rem;
     
      }
      .dropdown-content1 {
        width: 61rem;
        left: -48.5rem;
        top: 4.6rem;

      } 
}

@media (max-width:1018px) {
    .dropdown-content {
        width: 55rem;
        left: -32.5rem;
        top: 4.6rem;
     
      }
      .dropdown-content1 {
        width: 55rem;
        left: -41.5rem;
        top: 4.65rem;

      } 
}

@media (max-width:925px) {
    .dropdown-content {
        width: 50rem;
        left: -26.5rem;
        top: 4.7rem;
     
      }
      .dropdown-content1 {
        width: 50rem;
        left: -38.5rem;
        top: 4.65rem;

      } 
}
@media (min-width:1900px) {
  .dropdown-content {
    width: 82rem;
    left: -59.5rem;
    top: 4.7rem;
    }
    .version_24 {
      height: auto !important;
      width: 600px !important;
    }
    .dropdown-content1 {
      width: 95rem;
      left: -75.5rem;
      top: 4.65rem;

    } 
    .left_pane_head_h2 {
      font-size: 42px;
  }
  .mid_h2 {
    font-size: 42px;
}
.left_pane_text {
  font-size: 162%;
}
.right_pane_text {
  font-size: 162%;
}
.right_pane_head_h2 {
  font-size: 264%;
}
.right_mid_h2 {
  font-size: 223%;
}
.title-content {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 74px;
  line-height: 92px;
  font-weight: 400;
  padding-top: 6rem;
}
.bubble_chart {
  height: 60vh !important;
}
.typewriter {
  font-size: 27px;
  margin-top: 42px;
  line-height: 41px;
}
.content {
  font-family: "Poppins";
  margin-top: 18.5rem;
}
.demo-but {
  padding: 17px 34px;
  font-size: 25px;
}
.description_text {
  font-size: 24.5px;
  line-height: 1.50;
}
.contact_container {
  padding: 4rem 7rem 4rem 2rem;
}
/* .main_bannerComponent > div .main_banner_data > div .top_heading_wrap > div:last-child {
  /* margin: auto 0 auto auto; */
  /* width: 24%; */
  /* margin-left: 31px; */
/* }  */
.border_ads_24 {
  position: relative;
  left: -22px;
}
.bank {
  width: 35rem;
}
.contact_container .interested_wrap > div:first-child {
  font-size: 3.7rem;
  line-height: 1.3;
}
.category_Component .category_head_wrap > div:last-child {
  padding: 1rem 17.7rem;
}
.travel_banner_below {
  padding: 1rem 13rem !important;
}
.gov_banner_below {
  padding: 1rem 16.6rem !important;
}
}
/* <div class="dropdown">
            <div class="dropbtn head-comp">
              Insights
              <img src={down} alt="dpwm" />
            </div>
            <div class="dropdown-content1">
              <div className="row" style={{position:"relative"}}>
                <div style={{position:"absolute",right:"15%",top:"30%",display:"block"}}>
                 <div className="item"><Link to="/insight/statistics">Statistics</Link></div>
                 <div className="item"><Link>Case 2</Link></div>
                 <div className="item"><Link>Case 3</Link></div>
                </div>
               
              </div>
            </div> 
          </div> */