.description {
    margin: auto;
    padding: 5rem 0px 7rem;
}
.description_text {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    text-align: center;
    color: #292358;
    padding-top: 40px;
}
.highlighted_text_desc {
    background: rgb(191, 209, 224);
    font-style: italic;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:600px) {
    .description {
        padding: 3rem 0px 3rem;
    }
}