body{
    font-family: 'Poppins', sans-serif;
}

button{
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid;
    padding: 10px 16px;
    font-weight: 600;
    outline:none;
}
.fixed_header_margintop {
    margin-top: 9.5rem;
}
.try_us_buttn {
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
/* path {
    display: none;
} */