<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/favicon.ico"> 
    <title>Alphabet and Digit recognizer</title>
</head>
<body>
    <div class="container">
        <a href="./digit" class="button">Click here for digits</a>
        <a href="./alphabet" class="button">Click here for alphabets</a>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>